body {
    background: linear-gradient(45deg, #4a12ed, #FFD166);
}

.title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.input {
    border-radius: 8px;
    outline: none;
    border-color: transparent;
    font-weight: 400;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.375rem 0.75rem;
}

.inputlabel {
    font-size: 1.4rem;
    font-weight: 600;
    color: "#1C1B1F";
}

.btnpr {
    background-color: #4a12ed;
    color: #DED8ED;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border-color: transparent;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;
}

.btnpr:hover {
    background-color: #5E38CA;
    transition: 0.3s;
}

.error {
    color: red;
    font-size: 1rem;
    /* font-weight: 600; */
}


.lobbiesscreencontainer {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobbiesscreentitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}


.createlobby {
    font-size: 1rem;
    font-weight: 600;
    background-color: #4a12ed;
    /* max-width: 150px; */
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DED8ED;
    cursor: pointer;
}

.lobbiescardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.lobbycardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 200px;
    border-radius: 12px;
    margin-top: 2rem;
    background-color: #FFD166;
    padding: 12px;
    box-sizing: border-box;
    gap: 6px;
}

.lobbyname {
    font-size: 1.2rem;
    font-weight: 600;
}

.lobbyplayers {
    font-size: 1rem;
    font-weight: 400;
}

.waiting-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.waiting-text::after {
    content: 'Waiting';
    animation: waitingAnimation 2s infinite steps(3);
}

@keyframes waitingAnimation {
    0% {
        content: 'Waiting.';
    }
    20% {
        content: 'Waiting..';
    }
    40% {
        content: 'Waiting...';
    }
    60% {
        content: 'Waiting..';
    }
    80% {
        content: 'Waiting.';
    }
    100% {
        content: 'Waiting';
    }
}

.myname {
    padding: 8px 16px;
    height: 40px;
    border-radius: 8px;
    background-color: #DED8ED;
    color: black;
    font-size: 1.2rem;
    position: absolute;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbycontainer {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    padding: 32px;
}

.lobbytitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

.leftsidecontainer {
    display: flex;
    flex-direction: row;
}

.startgamebuttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    position: absolute;
    top: 768px;
    left: 64px;
}

.startgamebutton {
    min-width: 150px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #4a12ed;
    max-width: 150px;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DED8ED;
    cursor: pointer;
    border: transparent;
}


.playerscontainer {
    position: absolute;
    top: 128px;
    left: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 500px;
    overflow: scroll;
}

.questionscontainer {
    position: absolute;
    top: 128px;
    right: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 500px;
    overflow: scroll;

}

.playerscontainer::-webkit-scrollbar {
    display: none;
}

.questionscontainer::-webkit-scrollbar {
    display: none;
}

.subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.playercontainer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #DED8ED;
    color: black;
    font-size: 1.2rem;
    min-width: 150px;
}

.playername {
    font-size: 1.2rem;
    font-weight: 500;
}

.createlobbycontainer {
    padding: 32px;
}

.createlobbytitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

.createlobbynameinput {
    padding: 8px 16px;
    height: 40px;
    border-radius: 8px;
    background-color: #DED8ED;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 12px;
    outline: none;
    border: transparent;
}

.createlobbycontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.createlobbybtn {
    min-width: 150px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #4a12ed;
    max-width: 150px;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DED8ED;
    cursor: pointer;
    border: transparent;
}

.editlobbycontainer {
    padding: 32px;
}

.editlobbytitle {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

.addquestioncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.trashcan {
    cursor: pointer;
}

.gameplayerscontainer {
    position: absolute;
    top: calc(50% - 250px);
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 500px;
    overflow: scroll;
}

.gameplayerscontainer::-webkit-scrollbar {
    display: none;
}

.apcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apquestionscontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 800px;
    overflow: scroll;
    gap: 12px;
}

.apquestionscontainer::-webkit-scrollbar {
    display: none;
}

.apquestioncontainer {
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #DED8ED;
    color: black;
    font-size: 1.2rem;
    min-width: 300px;
}

.smalltitle {
    font-weight: 600;
}

.answered {
    background-color: #FFD166;
}

.current {
    background-color: #4a92ed;
}

.questioncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 48px;
}

.question {
    width: 50%;
    max-width: 50%;
}

.question-title {
    background-color: #DED8ED;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 12px;

}

.question-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.question-answer {
    padding: 8px 16px;
    height: 40px;
    border-radius: 8px;
    background-color: #DED8ED;
    color: black;
    font-size: 1.2rem;
    outline: none;
    border: transparent;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.question-player-answered {
    font-size: 0.6rem;
    transform: rotate(-45deg);
}

.controllercontainer {
    position: absolute;
    bottom: 0;
    top: 512px;
    left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.controls {
    display: flex;
    align-items: center;
    /* background-color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    padding: 8px; */
}

.controls>div {
    cursor: pointer;
}

.control {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #DED8ED;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.playeranswerscontainer {
    position: relative;
    top: -45px;
    right: -256px;
    display: flex;
}
.playeranswerscontainer>div {
    transform: rotate(-45deg);
}

.selected {
    border: 2px solid black;
}

.green {
    background-color: #5D9C59;
}

.red {
    background-color: #DF2E38;
}

.scoreboardcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scorescontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.score {
    min-width: 225px;
    background-color: #DED8ED;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 12px; */
}

.question-image {
    /* width: 400px; */
    /* height: 100%; */
    /* object-fit: cover; */
    /* border-radius: 8px; */
}

.question-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}